[submodule "backend"]
	path = backend
	url = ../payke-hinagata-backend.git
	ignore = dirty
[submodule "frontend"]
	path = frontend
	url = ../payke-hinagata-frontend.git
	ignore = dirty
[submodule "native"]
	path = native
	url = ../payke-hinagata-native.git
	ignore = dirty
[submodule "terraform"]
	path = terraform
	url = ../payke-hinagata-terraform.git
	ignore = dirty
